:root {
  --preto: #000000;
  --preto-acinzentado: #1A1A1A;
  --cinza: #2B2B2B;

  --roxo: #8B5CF6;
  --roxo-claro: #A855F7;
  --lilas: #C084FC;

  --branco: #F5F5F5;
  --cinza-claro: #B3B3B3;
}

.detalhe-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;    
  margin: 20px;
}
.detalhe-card img{
    height: 450px;
    width: 350px;
    border-radius: 10px;
}
.detalhe-card p{
    font-size: 18px;
    margin-top: 10px;
    max-width: 500px;
}
.DetalheFilme {
  width: 160px;
  transition: 0.3s;
}

.DetalheFilme:hover {
  transform: scale(1.05);
}

.DetalheFilme img {
  width: 100%;
  border-radius: 8px;
}

.DetalheFilme h1 {
  font-size: 14px;
  margin: 5px 0;
}
.titulo h1{
    margin: 20px;
}